

<% if @enable_replacepath %>
<script type="text/javascript">
addEventListener("load", function(){history.replaceState(null, "", "<%= @doc[:path]%>");});
</script>
<% end %>

<h1><%= @doc[:title] %></h1>


<div class="">keyword:<%= @doc[:words] ? @doc[:words] : ""%></div>
<hr>

<% if @doc[:overview] && !@doc[:overview].empty? %>

<% if $enable_cart %>
  <% if include_cart(@cart, @id) %>
  <p>カートに追加済み</p>
  <% else %>
  <p><a href="/cart/add/<%=@id%>">カートに追加</a></p>
  <% end %>
<% end %>

<h2>overview</h2>
<p class="text"><%= @doc[:overview] %></p>

<% end %>


<% if @doc[:usage] && !@doc[:usage].empty? %>

<h2>usage</h2>
<pre><%= @doc[:usage] %></pre>

<% end %>


<% if @doc[:verified] && !@doc[:verified].empty? %>

<h2>verified</h2>
<pre><%= @doc[:verified] %></pre>

<% end %>


<% if @doc[:references] && !@doc[:references].empty? %>

<h2>references</h2>
<pre><%= @doc[:references]%></pre>

<% end %>


<% if @doc[:require] && !@doc[:require].empty? %>

<h2>require</h2>
<pre><%= @doc[:require] %></pre>
<ul>
<% @doc[:require].split.map{|str| str=~/src\/([0-9a-zA-Z\/._-]+)/; $1}.compact.each do |req| %>
  <% if !req.empty? %>
    <li><a href="/search?word=<%= CGI.escape(req) %>"><%= req %></a></li>
  <% end %>
<% end %>
</ul>

<% end %>


<h2>code</h2>
<textarea class="display" rows="30"><%= @doc[:code] %></textarea>
